<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dcs">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/doclogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".adminloginpage"></activity>
        <activity android:name=".Doctor3" />
        <activity android:name=".Doctor2" />
        <activity android:name=".Doctor1" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".QuizActivity" />
        <activity android:name=".quizPage" />
        <activity android:name=".ImagesActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ImageSharing" />
        <activity android:name=".VideoCall" />
        <activity android:name=".Healthcare" />
        <activity android:name=".FaqPage" />
        <activity android:name=".AboutUs" />
        <activity android:name=".AppointmentStatus" />
        <activity android:name=".AppointmentFixing" />
        <activity android:name=".IntractionPage" />
        <activity android:name=".PatientDetails" />
        <activity android:name=".Doctorsatyourservice" />
        <activity android:name=".RegisterPage" />
        <activity android:name=".LoginPage" />
        <activity android:name=".Dashboardpage">

        </activity>
    </application>

</manifest>